// 对话框样式
/deep/.el-dialog__header{
    text-align: left;
}
.el-dialog__footer{
    .el-button{
        width:176px;
        padding: 10px 20px;
    }
}
//width80%的对话框
.width_80{
    /deep/.el-dialog{
        width: 80%;
        min-width: 1210px;
    }
}
